 .custom-text-field.v-text-field.v-text-field--solo .v-input__control .v-input__slot {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-height: 40px !important;
    font-size: 15px !important;
    white-space: nowrap !important;
  }

  .custom-text-field-search.v-text-field.v-text-field--solo .v-input__control .v-input__slot {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #d4d4d4
  }

  .custom-text-field-filter.v-text-field.v-text-field--solo .v-input__control .v-input__slot {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #d4d4d4
  }
